{% load static %}
<!DOCTYPE html>
<html>

<head>

	<!-- Including the bootstrap CDN -->
	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
	</script>
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
	</script>
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
	</script>
	<style>
		body {
			{% comment %} background-image: url('https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg'); {% endcomment %}
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg');
  background-position: center top;
			background-size : 100%;
			{% comment %} filter: brightness(40%); {% endcomment %};
			{% comment %} opacity {% endcomment %}
		  }
	</style>
</head>

<body >

	<!-- Creating a navigation bar using the
		.navbar class of bootstrap -->
	<nav class="navbar navbar-expand-sm bg-dark">
        <a class="navbar-brand text-light px-5 py-3" href="{% url 'dashboard' %}"><strong>Activity Points Tracker</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

		<ul class="navbar-nav ml-auto px-5">
			{% comment %} <li class="nav-item px-3 ">
				<a class="nav-link text-light" href="#">
				View Certificates
				</a>
			</li> {% endcomment %}
			<li class="nav-item px-3">
				<a class="nav-link text-light" href="{% url 'dashboard' %}">
				Dashboard
				</a>
			</li>
			<li class="nav-item px-3">
				<a class="nav-link text-light" href="{% url 'login' %}">
				Login/SignUp
				</a>
			</li>
		</ul>
	</nav>
	{% load static %}
    {% comment %} <img src="{% static 'bg.jpg' %}" alt="background"> {% endcomment %}
	
	{% comment %} <img src="/media/Adarsh_int.png" alt="background"> {% endcomment %}




</body>

</html>
